@charset "utf-8";
/* CSS Document */

body {
  background: #efffe6
}
/* unvisited link */
a:link {
  color: #0000CC;
}
/* visited link */
a:visited {
  color: #0000CC;
}
/* mouse over link */
a:hover {
  color: #BF5C19;
}
a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav {
  position: absolute;
  top: 50px;
  left: 790px;
}
.container {
  width: auto;
  height: auto;
  background-color: #FFF;
  margin: auto;
  padding: 0;
}
.header {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
  background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
}
.sidebar2 {
  position: absolute;
  top: 300px;
  background:#CCC;
  font-style:normal;
  width:900px;
  margin:0px;
  border: solid;
  overflow:hidden;
  font-family:Arial, Helvetica, sans-serif;
  font-size:10px;
  height:100px;
  padding: 0;
}
ul.nav {
  color: #CCC;
  font: Arial, Helvetica, sans-serif;
  font-size: 10px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 15px;
  border-width: 1px;
  border-top-color: #999;
  border-bottom-style: outset;
  border-left-style:outset;
  border-right-style:outset;
  border-top-style:outset;
}
mainnav {
  font-size: 24px;
  position: absolute;
  top: 90px;
  left: 450px;
}
h1 {
  image-orientation: center;
  padding: 0px;
}
h2 {
  font-family:Arial, Helvetica, sans-serif;
  font-style:italic;
  font-size:24px;
  font-weight:bold;
  color:#000;
  position: absolute;
  top: 120px;
  left: 25px;
}
sub {
  font-family:Arial, Helvetica, sans-serif;
  font-style:normal;
  font-size:24px;
  font-weight:bold;
  color:#000;
  #spokes {
    position:absolute;
    top:25px;
    left:0px;
    z-index:0;
  }
}
.myButton {
  -moz-box-shadow: 0px 10px 14px -7px #3e7327;
  -webkit-box-shadow: 0px 10px 14px -7px #3e7327;
  box-shadow: 0px 10px 14px -7px #3e7327;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352));
  background:-moz-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-webkit-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-o-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:-ms-linear-gradient(top, #77b55a 5%, #72b352 100%);
  background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352',GradientType=0);
  background-color:#77b55a;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:1px solid #4b8f29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a));
  background:-moz-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-webkit-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-o-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:-ms-linear-gradient(top, #72b352 5%, #77b55a 100%);
  background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a',GradientType=0);
  background-color:#72b352;
}
.myButton:active {
  position:relative;
  top:1px;
}

